<body>
  <div id="container" style="position:relative;">
    <div style="position:absolute; top: 10px; right:10px;">
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmynextpad.info&amp;send=true&amp;layout=button_count&amp;width=70&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:85px; height:21px;" allowTransparency="true"></iframe>
    </div>
    <div id="header">&nbsp;</div>
    <div id="content">
      <h2>Looking for a new place? Want to know what's around? Take a look!</h2>     
      <form id='search_form'>
        <div class="error">We could not find anything at this
          address. Please try a more specific search.</div>
        <input id="search" value="<%= search_value %>"/>
        <input id='submit' type="submit" value="Search" />
      </form>
      <ul id="report"></ul>
      <div id="map_canvas">&nbsp;</div>
      <div class="clear_float">&nbsp;</div>
    </div>
  </div>
  <div id="footer">
    <p>&copy;<script type="text/javascript">var d=new
      Date();document.write(d.getFullYear());</script><a href="http://twitter.com/#!/mynextpad" alt="My Next Pad">My Next Pad</a></p>
  </div>
</body>

